{% extends 'PowerTeamLayout.html'%}
{% block navs %}
<li><a href="/Project/Dashboard/((Task.ProjectId))"><i class="fa fa-tachometer fa-fw"></i>概览</a></li>
<li class="active"><a href="/Project/Task/((Task.ProjectId))"><i class="fa fa-tasks fa-fw"></i>任务</a></li>
<li><a href="/Project/Issue/((Task.ProjectId))"><i class="fa fa-bug fa-fw"></i>问题</a></li>
<li><a href="/Requirement"><i class="fa fa-file-text-o fa-fw"></i>需求</a></li>
<li><a href="/Project/Team/((Task.ProjectId))"><i class="fa fa-users fa-fw"></i>团队</a></li>
{% endblock %}
{% block subcontent %}
<div class="panel panel-primary" ng-controller="TaskUpdateCtrl" ng-init="Task.TaskId=((Task.TaskId));Task.TaskName='((Task.TaskName))';Task.Versions='((Task.Versions))';Task.AssignTo=((Task.AssignTo));Task.Priority=((Task.Priority));Task.PriorityNew=((Task.Priority));Task.Progress=((Task.Progress));Task.Status=((Task.Status));Task.StatusNew=((Task.Status));Task.Effort=0;Task.ProjectId=((Task.ProjectId));Task.ProjectModuleId=((Task.ProjectModuleId));">
    <div class="panel-heading"><strong><i class="fa fa-info fa-fw"></i>((Task.TaskName))</strong><strong class="pull-right">((Creator)) 创建于 ((Task.CreateDate.strftime('%Y-%m-%d %H:%M')))</strong></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
               版本:<strong class="label label-success">((Task.Versions))</strong>
            </div>
            <div class="col-sm-2">
               Key:<strong class="label label-success">T((Task.TaskId))-((ProjectKey))</strong>
            </div>
            <div class="col-sm-2">
             模块:<strong class="label label-success">((ModuleRelation.RepositoryCategoryName))</strong>
            </div>
            <div class="col-sm-2">
               Key:<strong class="label label-success">T((Task.TaskId))-((ProjectKey))</strong>
            </div>      
            <div class="col-sm-2">
                指派给:<strong class="label label-primary">((Task.AssignToProfile.Nick))</strong>
            </div>
            <div class="col-sm-2" ng-switch on="Task.Priority">
                优先级:
                <strong class="label label-danger" ng-switch-when="1">高</strong>
                <strong class="label label-success" ng-switch-when="2">中</strong>
                <strong class="label label-default" ng-switch-when="3">低</strong>
            </div>
            <div class="col-sm-2" ng-switch on="Task.Status">
                状态:
                <strong class="label label-danger" ng-switch-when="1">新创建</strong>
                <strong class="label label-primary" ng-switch-when="2">进行中</strong>
                <strong class="label label-success" ng-switch-when="3">已完成</strong>
                <strong class="label label-default" ng-switch-when="4">已取消</strong>
            </div>
            <div class="col-sm-2">
                <div class="btn-group">
                    <a href="/Project/Task/((Task.ProjectId))" class="btn btn-default btn-xs">返回</a>
                    <button type="button" class="btn btn-success btn-xs" ng-click="edit()">更新</button>
                    {% if Task.Creator==CurrentUser %}
                    <button type="button" id="btnDelete" class="btn btn-danger btn-xs" data-loading-text="正在删除" ng-click="Delete()">删除</button>
                    {% else %}
                    <button type="button" id="btnDelete" class="btn btn-danger btn-xs" disabled="disabled">删除-((Task.CreatorProfile.Nick))</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr />
        ((Task.Description|safe))
        <hr />
        <form role="form" name="updateTaskForm" ng-show="ShowUpdate">
            <div class="alert alert-success alert-dismissable" ng-show="UpdateSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>任务更新成功!</strong>
            </div>
            <div class="alert alert-success alert-dismissable" ng-show="DeleteSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>任务删除成功!</strong>
            </div>
            <div class="form-group">
                <label>任务名称<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="TaskName" ng-model="Task.TaskName" placeholder="任务名称" required />
                <div ng-show="updateTaskForm.TaskName.$dirty&&updateTaskForm.TaskName.$error.required" class="text-danger">请输入任务名称</div>
            </div>
            <div class="form-group">
                <label>版本<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="Versions" ng-model="Task.Versions" placeholder="版本" required />
                <div ng-show="updateTaskForm.Versions.$dirty&&updateTaskForm.Versions.$error.required" class="text-danger">请输入版本</div>
            </div>
            <div class="form-group">
                <label>模块<span class="text-danger">*</span></label>
                <select class="form-control" ng-model="Task.ProjectModuleId">
                    <option value="((Task.ProjectModuleId))">我</option>
                    {% for projectmodule in ProjectModules %}
                    
                    <option value="((projectmodule.RepositoryCategoryId))">((projectmodule.RepositoryCategoryName))</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>指派给</label>
                <select class="form-control" ng-model="Task.AssignTo">
                    <option value="-1">我</option>
                    {% for member in MemberList %}
                    <option value="((member.UserId))">((member.Nick))</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>优先级</label>
                <select class="form-control" ng-model="Task.PriorityNew">
                    <option value="1">高</option>
                    <option value="2">中</option>
                    <option value="3">低</option>
                </select>
            </div>
            <div class="form-group">
                <label>进度</label>
                <select class="form-control" ng-model="Task.Progress">
                    <option value="0">0%</option>
                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="40">40%</option>
                    <option value="50">50%</option>
                    <option value="60">60%</option>
                    <option value="70">70%</option>
                    <option value="80">80%</option>
                    <option value="90">90%</option>
                    <option value="100">100%</option>
                </select>
            </div>
            <div class="form-group">
                <label>状态</label>
                <select class="form-control" ng-model="Task.StatusNew">
                    <option value="1">新创建</option>
                    <option value="2">进行中</option>
                    <option value="3">已完成</option>
                    <option value="4">已取消</option>
                </select>
            </div>
            <div class="form-group">
                <label>累加工时(小时)</label>
                <input type="text" class="form-control" name="Effort" ng-model="Task.Effort" integer placeholder="本次任务新加工时" />
                <div ng-show="updateTaskForm.Effort.$dirty&&updateTaskForm.Effort.$error.integer" class="text-danger">请输入一个整数</div>
            </div>
            <div class="form-group">
                <label>备注</label>
                <script id="editor" type="text/plain">
                    
                </script>
            </div>
            <button type="button" id="btnUpdate" ng-disabled="updateTaskForm.$invalid" class="btn btn-primary" data-loading-text="正在更新" ng-click="update()"><i class="fa fa-save fa-fw"></i>更新</button>
            <hr>
        </form>
        <div class="row" ng-controller="CommentCtrl" ng-init="query();Comment.TaskId=((Task.TaskId));Comment.IssueId=0;Comment.RequirementId=0;Query.TaskId=((Task.TaskId));Query.IssueId=0;Query.RequirementId=0;">
            <div class="col-xs-8 col-xs-push-0">
                <div class="btn-group">
                    <button type="button" class="btn btn-success btn-xs" data-toggle="collapse" data-target="#new_commnet">评论</button>
                    <!--<button type="button" class="btn btn-default btn-xs" onClick="Hide()">取消</button>-->
                </div><br>
                <div id="new_commnet" class="collapse">
                    <form role="form" name="createCommentForm">
                        <p><div class="form-group row"><div class="col-xs-12">
                            <textarea rows="5" type="text" class="form-control" id="Content" name="Content" ng-model="Comment.Content"  placeholder="在此输入评论..." required /></textarea>
                            <div ng-show="createCommentForm.Content.$dirty&&createCommentForm.Content.$error.required" class="text-danger"></div>
                            <div class="text-right" style="padding-top: 10px;">
                                <button type="button" id="btnCreateComment" ng-disabled="createCommentForm.$invalid" class="btn btn-primary btn-xs" data-loading-text="正在发表" ng-click="create()"><i class="fa fa-save fa-fw"></i>发表</button>
                            </div>
                            </div></div>
                        </p>                
                    </form>
                </div><hr>
                <div class="alert alert-success alert-dismissable" ng-show="isSuccess">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        评论成功！评论内容在最下方。<!-- <a href="#comment{{thiscomment}}">点击可跳转。</a> -->
                </div>
                <div ng-repeat="Comment in CommentList">
                    <div class="row" id="comment{{Comment.CommentId}}">
                        <div class="col-xs-2 text-right" style="padding-top: 20px;">
                            <strong><i class="fa fa-user fa-fw"></i>{{Comment.Creator}}</strong><hr  style="margin-top:10px;margin-bottom:10px">
                            {{Comment.CreateDate | date:'yyyy-MM-dd HH:mm'}}
                        </div>
                        <div class="post col-xs-10 col-xs-push-0" ng-controller="SubCommentCtrl" ng-init="SubComment.CommentId=Comment.CommentId; ReplySubComment.CommentId=Comment.CommentId; SubQuery.CommentId=Comment.CommentId; query_sub();collapse=Comment.CommentId;" style="box-shadow: black 0px 0px 1px;">
                            {{Comment.Content}}<hr style="margin-top:10px;margin-bottom:0px">
                            <div class="subcomment" ng-repeat="SubComment in SubCommentList">
                                <strong><i class="fa fa-user fa-fw"></i>{{SubComment.CreatorNick}}</strong>
                                <none ng-show="SubComment.ReplyToNick!=''">
                                回复<strong><i class="fa fa-user fa-fw"></i>{{SubComment.ReplyToNick}}</strong>
                                </none>: 
                                {{SubComment.Content}}
                                <div class="text-right">
                                    <small>{{SubComment.CreateDate | date:'yyyy-MM-dd HH:mm'}}</small>
                                    <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#sub_comment_reply{{SubComment.SubCommentId}}" style="margin-bottom: 2px;">回复</button>
                                </div>
                                <div id="sub_comment_reply{{SubComment.SubCommentId}}" class="collapse">
                                    <form role="form" name="ReplySubCommentForm">
	                                    <p><div class="form-group row"><div class="col-xs-12">
	                                        <textarea rows="2" type="text" class="form-control"  ng-model="ReplySubComment.ReplyContent"  placeholder="在此输入回复..." required /></textarea>
	                                        <div ng-show="ReplySubCommentForm.ReplyContent.$dirty&&ReplySubCommentForm.ReplyContent.$error.required" class="text-danger"></div>
	                                        <div class="text-right" style="padding-top: 10px;">
	                                            <button type="button" id="btnReplySubComment" ng-disabled="ReplySubCommentForm.$invalid" class="btn btn-primary btn-xs" data-loading-text="正在发表" ng-click="ReplySubComment.ReplyTo=SubComment.Creator;reply_sub()"><i class="fa fa-save fa-fw"></i>发表</button>
	                                        </div>
	                                        </div></div>
	                                    </p>                
                                	</form>
                                </div>
                                <hr style="margin-top: 0px; margin-bottom: 0px; border-top: 1px solid #DADADA;">
                            </div>
                            <a href="" ng-click="SubQuery.PageNo=SubQuery.PageNo+1;query_sub()" ng-show="SubCommentList.length>0 && 1<SubQuery.PageCount && SubQuery.PageCount>SubQuery.PageNo">查看更多</a>
                            <div class=""><button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#sub_comment{{Comment.CommentId}}"  style="margin-top: 10px;">回复</button></div>
                            <div id="sub_comment{{Comment.CommentId}}" class="collapse">
                                <form role="form" name="SubCommentForm">
                                    <p><div class="form-group row"><div class="col-xs-12">
                                        <textarea rows="2" type="text" class="form-control"  ng-model="SubComment.Content"  placeholder="在此输入回复..." required /></textarea>
                                        <div ng-show="SubCommentForm.Content.$dirty&&SubCommentForm.Content.$error.required" class="text-danger"></div>
                                        <div class="text-right" style="padding-top: 10px;">
                                            <button type="button" id="btnCreateSubComment" ng-disabled="SubCommentForm.$invalid" class="btn btn-primary btn-xs" data-loading-text="正在发表" ng-click="SubComment.ReplyTo=-1;create_sub()"><i class="fa fa-save fa-fw"></i>发表</button>
                                        </div>
                                        </div></div>
                                    </p>                
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" ng-click="Query.PageNo=Query.PageNo+1;query()" ng-show="CommentList.length>0 && 1<Query.PageCount && Query.PageCount>Query.PageNo">查看更多</a>
            </div>
        </div>
        <!--
        <script type="text/javascript"> 
            $(function(){
                $("#new_commnet").collapse({toggle: true })
                $("#sub_commnet").collapse({toggle: true })
            }) 
            function Open(){
                $("#new_commnet").collapse("show");
                $("#sub_commnet").collapse("show");
            }
            function Hide(){
                $("#new_commnet").collapse("hide");
                $("#sub_commnet").collapse("hide");
            } 
        </script>
        -->
        <div ng-show="!ShowUpdate">
            {% for history in HistoryList %}
            <div class="notice notice-info">
                <div ng-show="'((history.RawAssignToProfile.Nick))'!='((history.NewAssignToProfile.Nick))' || ((history.RawStatus))!=((history.NewStatus))||((history.RawPriority))!=((history.NewPriority))">
                    <c ng-show="((history.RawStatus))!=((history.NewStatus))">
                        状态从 <span ng-switch on="((history.RawStatus))">
                            <strong class="label label-danger" ng-switch-when="1">新创建</strong>
                            <strong class="label label-primary" ng-switch-when="2">进行中</strong>
                            <strong class="label label-success" ng-switch-when="3">已完成</strong>
                            <strong class="label label-default" ng-switch-when="4">已取消</strong>
                        </span>
                        变为
                        <span ng-switch on="((history.NewStatus))">
                            <strong class="label label-danger" ng-switch-when="1">新创建</strong>
                            <strong class="label label-primary" ng-switch-when="2">进行中</strong>
                            <strong class="label label-success" ng-switch-when="3">已完成</strong>
                            <strong class="label label-default" ng-switch-when="4">已取消</strong>
                        </span>
                    </c>
                    <c ng-show="((history.RawPriority))!=((history.NewPriority))">
                        优先级从 <span ng-switch on="((history.RawPriority))">
                            <strong class="label label-danger" ng-switch-when="1">高</strong>
                            <strong class="label label-warning" ng-switch-when="2">中</strong>
                            <strong class="label label-default" ng-switch-when="3">低</strong>
                        </span>
                        变为
                        <span ng-switch on="((history.NewPriority))">
                            <strong class="label label-danger" ng-switch-when="1">高</strong>
                            <strong class="label label-warning" ng-switch-when="2">中</strong>
                            <strong class="label label-default" ng-switch-when="3">低</strong>
                        </span>
                    </c>
                  
                    <c ng-show="'((history.RawAssignToProfile.Nick))'!='((history.NewAssignToProfile.Nick))'">
                        指派人从 <strong>((history.RawAssignToProfile.Nick))</strong>变为<strong>((history.NewAssignToProfile.Nick))</strong>
                    </c>
                    <hr />
                </div>
                <div ng-show="'((history.Feedback))'!=''">
                    ((history.Feedback|safe))
                    <hr />
                </div>
                <i class="fa fa-user fa-fw"></i>((history.CreatorProfile.Nick)) 更新于 <i class="fa fa-clock-o fa-fw"></i>((history.CreateDate.strftime('%Y-%m-%d %H:%M')))
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
{% endblock %}
