{% extends 'PowerTeamLayout.html'%}
{% block navs %}
{% if session['isadmin'] %}
<li><a href="/Admin"><i class="fa fa-gear fa-fw"></i>系统设置</a></li>
{% endif %}
{% endblock %}
{% block subcontent %}
<div class="row" style="margin-left: 0px; margin-right: 0px;">
    <div class="panel panel-primary col-sm-9" ng-controller="ProjectCtrl" ng-init="query()" style="padding-left: 0px; padding-right: 0px;">
        <div class="panel-heading"><i class="fa fa-user fa-fw"></i>我参与的项目</div>
        <div class="panel-body">
            <form class="form-inline" role="form">
                <div class="form-group">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#project_add"><i class="fa fa-plus fa-fw"></i>新项目</button>
                    <div class="form-group">
                        <label class="sr-only">项目名称</label>
                        <input type="text" class="form-control" placeholder="项目名称" name="ProjectName" ng-model="Query.ProjectName" />
                    </div>
                    <div class="form-group">
                        <select class="form-control" ng-model="Query.Status">
                            <option value="all">全部</option>
                            <option value="1" selected="selected">进行中</option>
                            <option value="2">已完成</option>
                            <option value="3">已取消</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="btnQuery" type="button" ng-click="Query.PageNo=1;query()" data-loading-text="正在查询" class="btn btn-primary"><i class="fa fa-search fa-fw"></i>查找项目</button>
                    </div>
                </div>
            </form>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div ng-show="ProjectList.length<=0">
                        <div class="alert alert-success text-center">
                            <h1>未找到任何项目<i class="fa fa-smile-o"></i></h1>
                        </div>
                    </div>
                    <div ng-repeat="Project in ProjectList">
                        <div class="row">
                            <div class="col-sm-4">
                                <s ng-show="Project.Status==2||Project.Status==3">
                                    <a href="/Project/Dashboard/{{Project.ProjectId}}"  class="lead">{{Project.ProjectName}}</a>
                                </s>
                                <a href="/Project/Dashboard/{{Project.ProjectId}}"  class="lead" ng-show="Project.Status==1">{{Project.ProjectName}}</a>
                                <a data-toggle="collapse" href="#introduction{{Project.ProjectId}}"> <span class="caret" style="border-top-width: 10px; margin-bottom: 5px;"></span> </a>
                            </div>
                            <div class="col-sm-2">创建人：{{Project.Creator}}</div>
                            <div class="col-sm-3">
                                创建时间：{{ Project.CreateDate | date:'yyyy-MM-dd' }}
                            </div>
                            <div class="col-sm-2" ng-switch on="Project.Status">
                                状态：
                                <strong class="label label-primary" ng-switch-when="1">进行中</strong>
                                <strong class="label label-success" ng-switch-when="2">已完成</strong>
                                <strong class="label label-default" ng-switch-when="3">已取消</strong>
                            </div>
                            <div class="col-sm-1">
                                <div class="btn-group">
                                    <a href="/Project/Detail/{{Project.ProjectId}}" class="btn btn-default btn-xs"><i class="fa fa-edit fa-fw"></i>编辑</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{Project.Progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{ Project .Progress; }}%">
                                        <strong>{{Project.Progress}}%</strong>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div id="introduction{{Project.ProjectId}}" class="panel-collapse collapse">
                            <div class="row panel-body"> {{Project.Introduction}} </div>
                        </div>
                        <hr />
                    </div>
                    <div class="text-center">
                        <ul class="pager">
                            <li><a href="#" ng-class="Query.PageNo<=1?'btn disabled':''" ng-click="Query.PageNo=Query.PageNo-1;query()">上一页</a></li>
                            <li><a href="#" ng-class="Query.PageNo>=Query.PageCount?'btn disabled':''" ng-click="Query.PageNo=Query.PageNo+1;query()">下一页</a></li>
                            <li><span>第<strong>{{Query.PageNo}}</strong>页 共<strong>{{Query.PageCount}}</strong>页 共<strong>{{Query.RowCount}}</strong>条</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="project_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-plus fa-fw"></i>创建新项目</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" name="createProjectForm">
                            <div class="form-group">
                                <label for="ProjectName">项目名称<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="ProjectName" name="ProjectName" ng-model="Project.ProjectName" placeholder="项目名称" required />
                                <div ng-show="createProjectForm.ProjectName.$dirty&&createProjectForm.ProjectName.$error.required" class="text-danger">请输入项目名称</div>
                                <br>
                                <label for="ProjectKey">项目Key<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="ProjectKey" name="ProjectKey" onchange="onChange(this.id)" ng-model="Project.ProjectKey" placeholder="项目Key值(必须为英文、数字、下划线或小数点)" ng-maxlength="255" required /> 
                                <div ng-show="createProjectForm.ProjectKey.$dirty&&createProjectForm.ProjectKey.$error.required" class="text-danger">请输入项目Key值</div>
                                <div ng-show="createProjectForm.ProjectKey.$dirty&&createProjectForm.ProjectKey.$error.maxlength" class="text-danger">Key值最大长度为255</div>
                                <div ng-show="createProjectForm.ProjectKey.$dirty&&createProjectForm.ProjectKey.$error.email" class="text-danger">Key值格式不合法</div>
                                <div id="message" class="text-danger"></div>
                                <div class="notic notic-info" ng-show="keyExist">
                                    <span class="text-danger">key已存在,请尝试其他key值</span>
                                </div>
                                <br>
                                <label for="Introduction">项目介绍</label>
                                <textarea rows="3" type="text" class="form-control" id="Introduction" name="Introduction" ng-model="Project.Introduction" placeholder="项目介绍" /></textarea> 
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i>关闭</button>
                        <button type="button" id="btnCreateProject" ng-disabled="createProjectForm.$invalid" class="btn btn-primary" data-loading-text="正在创建" ng-click="create()"><i class="fa fa-save fa-fw"></i>保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-sm-3" >
        <div class="panel panel-primary ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <i class="fa fa-calendar-o fa-fw"></i> 公告
                    </div>
                    {% if session['isadmin'] %}
                    <div class="col-sm-6 text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#notice_add"><i class="fa fa-edit fa-fw"></i>编辑</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                <div class="panel panel-default" ng-controller="NoticeCtrl" ng-init="query()">
                    <div class="panel-body">
                        <h4 class="">{{NoticeList.Content}}</h4>
                        <div class="text-right">
                            <i class="fa fa-clock-o fa-fw"></i>{{NoticeList.Date | date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                    <div class="modal fade" id="notice_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-calendar-o fa-fw"></i>编辑公告</h4>
                                </div>
                                <div class="modal-body">
                                    <form role="form" name="createNoticeForm">
                                        <div class="form-group">
                                            <textarea rows="5" type="text" class="form-control"  ng-model="Notice.Content" placeholder="公告内容" required /></textarea>
                                            <div ng-show="createNoticeForm.Content.$dirty&&createNoticeForm.Content.$error.required" class="text-danger"></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times-circle fa-fw"></i>关闭</button>
                                    <button type="button" id="btnCreateNotice" ng-disabled="createNoticeForm.$invalid" class="btn btn-primary" data-loading-text="正在创建" ng-click="create()"><i class="fa fa-save fa-fw"></i>保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-controller="ProjectCtrl" ng-init="Query.Status='2';query()">
                    <div class="notice notice-info" ng-repeat="Project in ProjectList2" style="margin-top: 5px; margin-bottom: 5px;padding-top: 5px;padding-bottom: 5px;">
                        <i class="fa fa-clock-o fa-fw"></i>{{ Project.LastUpdateDate | date:'yyyy-MM-dd' }}
                        项目<a class="label label-success" href="/Project/Dashboard/{{Project.ProjectId}}">{{Project.ProjectName}}</a>完成
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><i class="fa fa-th-list fa-fw"></i>项目变更动态</div>
    <div class="panel-body">
        <div class="panel panel-default" ng-controller="HistoryCtrl" ng-init="query()">
            <div class="panel-body">
                <div class="row notice notice-info" ng-repeat="history in HistoryList" style="padding-top: 10px; padding-bottom: 5px;">
                    <div class="col-sm-9">
                        <strong><i class="fa fa-user fa-fw"></i>{{history.CreatorProfile_Nick}}</strong> 更新
                        <c ng-show="'{{history.TaskId}}'!=''">
                            <a href="/Task/Detail/{{history.TaskId}}" data-toggle="tooltip" title="项目：{{history.ProjectName}}"><i class="fa fa-tasks fa-fw"></i>{{history.Name}}</a>:
                        </c>
                        <c ng-show="'{{history.IssueId}}'!=''">
                            <a href="/Issue/Detail/{{history.IssueId}}" data-toggle="tooltip" title="项目：{{history.ProjectName}}"><i class="fa fa-bug fa-fw"></i>{{history.Name}}</a>:
                        </c>
                        <c ng-show="'{{history.RawAssignToProfile.Nick}}'!='{{history.NewAssignToProfile.Nick}}' || {{history.RawStatus}}!={{history.NewStatus}}||{{history.RawPriority}}!={{history.NewPriority}}">
                        <c ng-show="{{history.RawStatus}}!={{history.NewStatus}}">
                            状态 从<span ng-switch on="{{history.RawStatus}}">
								<strong class="label label-primary" ng-switch-when="1">打开</strong>
								<strong class="label label-success" ng-switch-when="2">已解决</strong>
								<strong class="label label-default" ng-switch-when="3">已关闭</strong>
								<strong class="label label-default" ng-switch-when="4">已取消</strong>
                            </span>
                            变为
                            <span ng-switch on="{{history.NewStatus}}">
								<strong class="label label-primary" ng-switch-when="1">打开</strong>
								<strong class="label label-success" ng-switch-when="2">已解决</strong>
								<strong class="label label-default" ng-switch-when="3">已关闭</strong>
								<strong class="label label-default" ng-switch-when="4">已取消</strong>
                            </span>
                        </c>
                        <c ng-show="{{history.RawPriority}}!={{history.NewPriority}}">
                            优先级 从
                            <span ng-switch on="{{history.RawPriority}}">
								<strong class="label label-danger" ng-switch-when="1">高</strong>
								<strong class="label label-warning" ng-switch-when="2">中</strong>
								<strong class="label label-default" ng-switch-when="3">低</strong>
                            </span>
                            变为
                            <span ng-switch on="{{history.NewPriority}}">
								<strong class="label label-danger" ng-switch-when="1">高</strong>
								<strong class="label label-warning" ng-switch-when="2">中</strong>
								<strong class="label label-default" ng-switch-when="3">低</strong>
							</span>
						</c>
						<c ng-show="'{{history.RawAssignTo}}'!='{{history.NewAssignTo}}'">
							指派人 从{{history.RawAssignTo}} 变为 {{history.NewAssignTo}}
						</c>
					</c>
					<div ng-show="'{{history.Feedback}}'!=''" ng-bind-html="history.Feedback | to_trusted" style="padding-left: 5px; padding-top: 5px;">
						{{history.Feedback}}
					</div>
                    </div>
                    <div class="col-sm-3 text-right" style="">
                        <i class="fa fa-clock-o fa-fw"></i>{{history.CreateDate}}
                    </div>
                </div>
                <a href="">查看更多</a><br>
            </div>
        </div>
    </div>
</div>
{% endblock %}