{% extends 'PowerTeamLayout.html'%}
{% block navs %}
{% if session['isadmin'] %}
<li class="active"><a href="/Admin"><i class="fa fa-gear fa-fw"></i>系统设置</a></li>
{% endif %}
{% endblock %}
{% block subcontent %}

    <div class="col-sm-10">
        <div class="panel panel-primary" ng-controller="RepositoryCategoryCtrl" ng-init="ProjectId=((ProjectId));query();">
            <div class="panel-heading"><i class="fa fa-user fa-fw"></i>模块列表</div>
            <div class="panel-body">
                
                <form class="form-inline" role="form" name="categoryForm">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="sr-only">问题分类</label>
                            <input type="text" class="form-control" placeholder="" name="RepositoryCategoryName" ng-model="RepositoryCategoryName" required />
                                                                                                                                     
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-disabled="categoryForm.$invalid" ng-click="create()"><i class="fa fa-plus fa-fw"></i>添加模块</button>
                        </div>
                    </div>
                </form> 
                <div class="panel panel-default" >
                    <div class="panel-body">
                        <div ng-show="RepositoryCategoryList.length<=0">
                            <div class="alert alert-success text-center">
                                <h1>未找到任何分类<i class="fa fa-smile-o"></i></h1>
                            </div>
                        </div>
                        <div ng-repeat="RepositoryCategory in RepositoryCategoryList">
                            <div class="row">
                                <div class="col-sm-6">
                                   <a href="/ProjectModule/{{RepositoryCategory.RepositoryCategoryId}}"  class="lead"> <strong>{{RepositoryCategory.RepositoryCategoryName}}</strong>    
                                </div>
                                <div class="col-sm-6">
                                        <a href="/Admin/ProjectList" class="btn btn-default btn-xs">返回</a>
                                        <button  type="button"  class="btn btn-danger" ng-click="RemoveRepositoryCategory(RepositoryCategory.RepositoryCategoryId)"><i class="fa fa-trash-o fa-fw"></i>移除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}