{% extends 'PowerTeamLayout.html'%}
{% block navs %}

{% endblock %}
{% block subcontent %}
<div class="panel panel-primary" ng-controller="ItemCtrl" ng-init="Item.ThemeItemId=((ThemeItemId))">
    
    <div class="panel-body">
        <form role="form" name="createTaskForm">
            <div class="alert alert-success alert-dismissable" ng-show="AddSuccess">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>创建新需求成功!</strong>
            </div>

            <div class="form-group"> 
	            <label>事项<span class="text-danger">*</span></label> 
	            <input type="text" class="form-control" name="sunitemname" ng-model="Item.SunItemName" placeholder="版本" required />
            </div>

          
           <div ng-repeat='thing in things' >
             <myitem></myitem>

                    
        </div>
        
             <div ng-repeat="SunItem in SunItemList">
                            <div class="row">
                                <div class="col-sm-6">
                                   <strong>((SunItem.SunItemName))</strong>    
                                </div>
                                  </div>
             </div>
        <!-- 
			<table>  
			 <tbody id="tbody1">  
			   <tr>  
			     <td>  
                    <div class="form-group">
		                <label>事项<span class="text-danger">*</span></label>
		                <input type="text" class="form-control" name="sunitemname" ng-model="Item.SunItemName" placeholder="版本" required />         
		            </div>

			     </td>  
			     <td>  
			        <input style="display:none" mce_style="display:none" type="button" value="Delete" onClick="removeRow(this)"/>  
			    </td>  
			  </tr>  
			</tbody>  
			   <tr>  
			    <td>  
			       <input type="button" value="Add Row" onClick="addRow('tbody1')"/>  
			     </td>  
			     <td>  
			          
			     </td>  
			   </tr>  
			</table> 
			 -->
            <div class="form-group">
	                <label>事项详细内容</label>
	                <script id="editor" type="text/plain">
                        	</script>
                        
           	</div>  
           	<button type="button" id="btnCreate" class="btn btn-primary" ng-disabled="createTaskForm.$invalid" data-loading-text="正在创建" ng-click="addItem()"><i class="fa fa-save fa-fw"></i>add</button>
            <button type="button" id="btnCreate" class="btn btn-primary" ng-disabled="createTaskForm.$invalid" data-loading-text="正在创建" ng-click="create()"><i class="fa fa-save fa-fw"></i>保存</button>
        </form>
    </div>
    
</div> 

{% endblock %}
