{% extends 'PowerTeamLayout.html'%}
{% block navs %}
{% if session['isadmin'] %}
<li class="active"><a href="/Admin"><i class="fa fa-gear fa-fw"></i>系统设置</a></li>
{% endif %}
{% endblock %}
{% block subcontent %}
<div class="row">
    <div class="col-sm-2">
        <div class="list-group">
            <a href="/Admin" class="list-group-item">用户管理</a>
            <a href="/Admin/CategorySetting" class="list-group-item">问题分类设置</a>
            <a href="/Admin/ProjectList" class="list-group-item active">项目</a>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="panel panel-primary" ng-controller="ProjectCtrl" ng-init="query()">
            <div class="panel-heading"><i class="fa fa-user fa-fw"></i>库分类设置</div>
            <div class="panel-body">
                
                <form class="form-inline" role="form" name="categoryForm">
                    <div class="form-group">
                        <div class="form-group">
                            <label class="sr-only">问题分类</label>
                            <input type="text" class="form-control" placeholder="新分类名称" name="RepositoryName" ng-model="RepositoryName" required />
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-disabled="categoryForm.$invalid" ng-click="create()"><i class="fa fa-plus fa-fw"></i>添加库</button>
                        </div>
                    </div>
                </form> 
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div ng-repeat="Project in ProjectList">
                            <div class="row">
                                <div class="col-sm-6">
                                    <a href="/Admin/ProjectModules/{{Project.ProjectId}}"  class="lead">{{Project.ProjectName}}</a>
                                    
                                </div>
                              
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}